@media screen and (max-width:574px) {

     header,
     main {
          max-width: 574px;
          padding: 20px;
     }

     .banner .hero-text {
          font-size: 22px;
          text-align: center;
     }

     .hero-description {
          margin-bottom: -20px;
          font-size: 14px;
     }

     .hero-select,
     nav,
     nav ul
     {
          gap: 10px;
          flex-direction: column;
          width: 80%;
     }

     .hero-select .field ,.banner .btn-primary  {
          padding: 15px 0px;
          margin-top: 0px;
          width: 100%;
     }

     .about-section,
     .place-section,
     .img-container,
     .news-latter-section,
     .deal-section {
          width: 100%;
          margin: 0 auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;

     }

     .deal-section .tour-box {
          margin: 0 auto;
          width: 450px;
          height: 500px;
     }

     .about-section .btn-primary,
     .place-section .btn-primary,
     .form-div,
     .deal-section {
          margin-top: 20px;
     }

     .section-title,
     .pack-title {
          font-size: 20px;
     }

     .section-description,
     .pack-description {
          font-size: 14px;
     }

     .about-container img,
     .place-section .text-container {
          width: 100%;
          height: auto;
     }

     .img-container img {
          width: 100%;
          height: 176px;
     }

     .plannig-area .services-1 {
          width: 100%;
          height: 289px;
     }

     .video-box video,
     .place-section .video-box {
          border-radius: 16px;
          width: 100%;
          height: 90%;
     }

     .save-up {
          width: 100%;
          height: 400px;
     }

     .save {

          transform: rotate(0deg);
          left: 0px;
     }

     .form-div {
          padding: 20px;
          width: 90%;

     }

     .tour-box .feature {
          padding-left: 20px;
          padding-right: 20px;
          width: 600px;
     }

     .feature .location {
          flex-direction: row;
          flex-wrap: wrap;
     }

     .feature .pack-title {
          font-size: 20px;
     }

     .feature .pack-description {
          font-size: 16px;
     }

     .hide {
          display: none;
     }

     .feature .price {
          font-size: 14px;
     }

     .place-section {
          margin-top: 50px;
     }

     .footer-container{
          padding: 30px 30px;
     }
     .footer-container hr {
          margin: 20px auto;
          border-top: 1px solid #0000003d;
          width:500px;
     }
}
