 /* Mulish Font from google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

 * {
      font-family: 'Mulish', sans-serif;
 }

 /* Shared Style */
 header,
 main {
      margin: 0 auto;
      border: 2px solid red;
      max-width: 1170px;
 }

 .hero-select .btn-primary {
      padding: 20px;
      border: none;
      color: white;
      font-size: 16px;
      font-weight: 700;
      width: 150px;
      border-radius: 8px;
      background: #FF5400;
 }

 .section-title {
      margin: 0;
      color: #131318;
      font-size: 2.5rem;
      font-weight: 800;
 }

 .section-description {
      text-align: justify;
      margin: 24px 0;
      color: rgba(19, 19, 24, 0.70);
      font-size: 1rem;
      font-weight: 400;
 }

 /* Header related Style start */
 body {
      margin: 0 auto;
      border: 2px solid green;
      width: 1440px;
 }

 header {
      margin: 0 auto;
      border: 2px solid red;
      max-width: 1170px;
 }

 nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
 }

 nav .nav-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      color: #131318;
      font-size: 2.25rem;
      font-weight: 800;
 }

 .nav-title span {
      color: #FF5400;
 }

 nav>ul {
      display: flex;
 }

 nav li {
      list-style: none;
      margin-left: 44px;
      color: #424247;
      font-size: 1.125rem;
      font-weight: 400;
 }

 nav li a {
      text-decoration: none;
 }

 .banner {
      height: 500px;
      border-radius: 16px;
      background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/A.png');
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
 }

 .banner .hero-text {
      color: #FFF;
      font-size: 4rem;
      font-weight: 800;
      margin: 0;
 }

 .banner .hero-description {
      margin-top: 20px;
      color: #FFF;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
 }

 .banner .hero-select {
      padding: 16px;
      text-align: center;
      width: 768px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.30);
 }

 .hero-select {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
 }

 .hero-select .field {
      padding: 20px;
      padding-right: 0;
      margin-right: 20px;
      border: none;
      color: rgba(19, 19, 24, 0.50);
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      width: 150px;
      border-radius: 8px;
      background: #FFF;
 }

 .btn-primary {
      padding: 20px;
      border: none;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      width: 150px;
      border-radius: 8px;
      background: #FF5400;
 }

 /* Header related style end */


 /* About section related style start */
 .about-section {
      margin-top: 100px;
      gap: 50px;
      display: flex;
      justify-content: space-between;
      align-items: start;
 }

 .about-section .list-about {
      margin: 16px 0;
      color: rgba(19, 19, 24, 0.70);
      font-size: 16px;
      font-weight: 400;
 }

 .about-section .btn-primary {
     margin-top: 40px;
      padding: 15px 15px;
      text-align: center;
      width: 174px;
      border-radius: 8px;
      background: #FF5400;
 }

 /* about section related style ended */

 /* destination section related style started */
 .destination-section,
 .choose-section {
      margin-top: 100px;
 }

 .text-container .section-title,
 .text-container .section-description {
      text-align: center;
 }

 /* destination section related style ended */


 /* Why choose us section related styles started */
 .plannig-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
 }

 .plannig-area .services-1 {
      padding: 20px;
      border-radius: 16px;
      border: 1px solid rgba(251, 181, 99, 0.20);
      background: rgba(251, 181, 99, 0.05);
      width: 520px;
      height: 270px;
 }

 .plannig-area .services-2 {
      padding: 20px;
      border-radius: 16px;
      border: 1px solid rgba(41, 206, 246, 0.20);
      background: rgba(41, 206, 246, 0.05);
      width: 520px;
      height: 270px;
 }

 .plannig-area .services-3 {
      padding: 20px;
      border-radius: 16px;
      border: 1px solid rgba(233, 68, 68, 0.20);
      background: rgba(233, 68, 68, 0.05);
      width: 520px;
      height: 270px;
 }

 .plannig-area .pack-title {
      color: #131318;
      font-size: 24px;
      font-weight: 800;
 }

 .plannig-area .pack-description {
      color: #5A5A5D;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
 }

 /* Why choose us section related styles ended */


 /* Place section related styles started */
 .place-section {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
 }

 .place-section .text-container {
      width: 50%;
 }

 .place-section .list-place {
      margin: 16px 0;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
 }

 .place-section .btn-primary {
      margin-top: 40px;
      padding: 15px 15px;
      text-align: center;
      width: 174px;
      border-radius: 8px;
      background: #FF5400;
 }

 .place-section .section-title,
 .place-section .section-description {
      text-align: left;
      margin-bottom: 24px;
 }

 /* Place section related styles ended */